<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cctv1</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv1hd.m3u8</string>
	<key>cctv10</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225550/index.m3u8</string>
	<key>cctv11</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225552/index.m3u8</string>
	<key>cctv12</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225556/index.m3u8</string>
	<key>cctv13</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225560/index.m3u8</string>
	<key>cctv15</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225568/index.m3u8</string>
	<key>cctv2</key>
	<string>http://58.200.131.2/hls/cctv2.m3u8</string>
	<key>cctv3</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv3hd.m3u8</string>
	<key>cctv4</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225534/index.m3u8</string>
	<key>cctv5</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv5hd.m3u8</string>
	<key>cctv5plus</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv5phd.m3u8</string>
	<key>cctv6</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv6hd.m3u8</string>
	<key>cctv7</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225546/index.m3u8</string>
	<key>cctv8</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv8hd.m3u8</string>
	<key>cctv9</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225572/index.m3u8</string>
	<key>cctvamerica</key>
	<string></string>
	<key>cctvarabic</key>
	<string></string>
	<key>cctvchild</key>
	<string>http://183.207.249.7/PLTV/2/224/3221226023/index.m3u8</string>
	<key>cctvdoc</key>
	<string></string>
	<key>cctveurope</key>
	<string></string>
	<key>cctvfrench</key>
	<string></string>
	<key>cctvjilu</key>
	<string></string>
	<key>cctvxiyu</key>
	<string></string>
	<key>anhui</key>
	<string>http://ivi.bupt.edu.cn/hls/ahhd.m3u8</string>
	<key>bingtuan</key>
	<string>http://web-play.pptv.com/web-m3u8-300157.m3u8?type=m3u8.web.phone&amp;playback=0&amp;kk=&amp;o=pub.pptv.com</string>
	<key>chongqing</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225594/index.m3u8</string>
	<key>dongfang</key>
	<string>http://hls.live.kksmg.com/live/dtv2e49416f_20f9472e8e3b8b7b226a661e/playlist.m3u8</string>
	<key>dongnan</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225598/index.m3u8</string>
	<key>gansu</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225590/index.m3u8</string>
	<key>guangdong</key>
	<string>http://ivi.bupt.edu.cn/hls/gdhd.m3u8</string>
	<key>guangxi</key>
	<string>http://58.200.131.2/hls/gxtv.m3u8</string>
	<key>guizhou</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225540/index.m3u8</string>
	<key>hebei</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225602/index.m3u8</string>
	<key>heilongjiang</key>
	<string>http://ivi.bupt.edu.cn/hls/hljhd.m3u8</string>
	<key>henan</key>
	<string>http://58.200.131.2/hls/hntv.m3u8</string>
	<key>hubei</key>
	<string>http://ivi.bupt.edu.cn/hls/hbhd.m3u8</string>
	<key>hunan</key>
	<string>http://ivi.bupt.edu.cn/hls/hunanhd.m3u8</string>
	<key>jiangsu</key>
	<string>http://ivi.bupt.edu.cn/hls/jshd.m3u8</string>
	<key>jiangxi</key>
	<string>http://58.200.131.2/hls/jxtv.m3u8</string>
	<key>jilin</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225589/index.m3u8</string>
	<key>liaoning</key>
	<string>http://ivi.bupt.edu.cn/hls/lnhd.m3u8</string>
	<key>neimenggu</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225624/index.m3u8</string>
	<key>ningxia</key>
	<string></string>
	<key>qinghai</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225580/index.m3u8</string>
	<key>sdetv</key>
	<string>http://web-play.pptv.com/web-m3u8-300180.m3u8</string>
	<key>shan1xi</key>
	<string>http://183.207.249.7/PLTV/3/224/3221225576/index.m3u8</string>
	<key>shan3xi</key>
	<string></string>
	<key>shandong</key>
	<string>http://ivi.bupt.edu.cn/hls/sdhd.m3u8</string>
	<key>shenzhen</key>
	<string>http://ivi.bupt.edu.cn/hls/szhd.m3u8</string>
	<key>sichuan</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225570/index.m3u8</string>
	<key>tianjin</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225562/index.m3u8</string>
	<key>travel</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225585/index.m3u8</string>
	<key>xiamen</key>
	<string>http://58.200.131.2/hls/xmtv.m3u8</string>
	<key>xianggangweishi</key>
	<string>http://live.hkstv.hk.lxdns.com/live/hks/playlist.m3u8</string>
	<key>xinjiang</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225523/index.m3u8</string>
	<key>xizang</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225579/index.m3u8</string>
	<key>yanbian</key>
	<string></string>
	<key>yunnan</key>
	<string>http://58.200.131.2/hls/yntv.m3u8</string>
	<key>zhejiang</key>
	<string>http://ivi.bupt.edu.cn/hls/zjhd.m3u8</string>
	<key>baobeijia</key>
	<string>http://ivi.bupt.edu.cn/hls/btv1hd.m3u8</string>
	<key>caimingzaixian</key>
	<string></string>
	<key>cctv3d</key>
	<string></string>
	<key>cctvdianying</key>
	<string>http://183.207.249.15/PLTV/3/224/3221225541/index.m3u8</string>
	<key>cctvfyzq</key>
	<string></string>
	<key>cctvgaowang</key>
	<string></string>
	<key>cctvlaogushi</key>
	<string></string>
	<key>cctvliangzhuang</key>
	<string></string>
	<key>cctvliyuan</key>
	<string></string>
	<key>cctvqimo</key>
	<string></string>
	<key>cctvqixiang</key>
	<string></string>
	<key>cctvxiqu</key>
	<string></string>
	<key>cctvyule</key>
	<string></string>
	<key>cctvzhengquanzixun</key>
	<string></string>
	<key>dianshigouwu</key>
	<string></string>
	<key>diyijuchang</key>
	<string></string>
	<key>dvshenghuo</key>
	<string></string>
	<key>faxianzhilv</key>
	<string></string>
	<key>fyjc</key>
	<string></string>
	<key>fyyy</key>
	<string></string>
	<key>gaoerfu</key>
	<string></string>
	<key>guofang</key>
	<string></string>
	<key>hjjc</key>
	<string></string>
	<key>huanqiuqiguan</key>
	<string></string>
	<key>jingpin</key>
	<string></string>
	<key>kuailechuidiao</key>
	<string></string>
	<key>liuxueshijie</key>
	<string></string>
	<key>sheyingpindao</key>
	<string></string>
	<key>shijiedili</key>
	<string></string>
	<key>shishang</key>
	<string></string>
	<key>shuhua</key>
	<string></string>
	<key>shuowenjiezi</key>
	<string></string>
	<key>taiqiu</key>
	<string></string>
	<key>tianyuanweiqi</key>
	<string></string>
	<key>wenwubaoku</key>
	<string></string>
	<key>wsjk</key>
	<string></string>
	<key>wushushijie</key>
	<string></string>
	<key>xiandainvxing</key>
	<string></string>
	<key>xianfengjilu</key>
	<string></string>
	<key>xinkedongman</key>
	<string></string>
	<key>yingyufudao</key>
	<string></string>
	<key>youxijingji</key>
	<string></string>
	<key>zaoqijiaoyu</key>
	<string></string>
	<key>zhinan</key>
	<string></string>
	<key>zhongxuesheng</key>
	<string></string>
	<key>btv3</key>
	<string></string>
	<key>btv2</key>
	<string>http://ivi.bupt.edu.cn/hls/btv2hd.m3u8</string>
	<key>btv4</key>
	<string></string>
	<key>btv5</key>
	<string></string>
	<key>btv6</key>
	<string>http://ivi.bupt.edu.cn/hls/btv6hd.m3u8</string>
	<key>btv7</key>
	<string></string>
	<key>btv8</key>
	<string></string>
	<key>btv9</key>
	<string></string>
	<key>btvInternational</key>
	<string></string>
	<key>btvchild</key>
	<string></string>
	<key>btvjishi</key>
	<string>http://ivi.bupt.edu.cn/hls/btv11hd.m3u8</string>
	<key>cdtv1</key>
	<string></string>
	<key>cdtv2new</key>
	<string></string>
	<key>cdtv5</key>
	<string></string>
	<key>gxzy</key>
	<string></string>
	<key>liaoningds</key>
	<string></string>
	<key>nbtv1</key>
	<string></string>
	<key>nbtv2</key>
	<string></string>
	<key>nbtv3</key>
	<string></string>
	<key>nbtv4</key>
	<string></string>
	<key>nbtv5</key>
	<string></string>
	<key>tianjin1</key>
	<string>http://ivi.bupt.edu.cn/hls/tjhd.m3u8</string>
	<key>tianjin2</key>
	<string></string>
	<key>tianjinbh</key>
	<string></string>
	<key>tianjinbh2</key>
	<string></string>
	<key>xiamen1</key>
	<string></string>
	<key>xiamen2</key>
	<string></string>
	<key>xiamen3</key>
	<string></string>
	<key>xiamen4</key>
	<string></string>
	<key>xingtaigonggong</key>
	<string></string>
	<key>xingtaishahe</key>
	<string></string>
	<key>xingtaishenghuo</key>
	<string></string>
	<key>xingtaizonghe</key>
	<string></string>
	<key>zhuhaiertao</key>
	<string></string>
	<key>zhuhaiyitao</key>
	<string></string>
	<key>cetv1</key>
	<string></string>
	<key>cetv2</key>
	<string></string>
	<key>cetv3</key>
	<string></string>
	<key>ipanda</key>
	<string></string>
	<key>cntvgongfu</key>
	<string></string>
	<key>cntvmeishi</key>
	<string></string>
	<key>cntvlishi</key>
	<string></string>
	<key>cntvtravel</key>
	<string></string>
</dict>
</plist>
